:root {
  /* --cap-image : url(https://www.webfx.com/tools/emoji-cheat-sheet/graphics/emojis/coffee.png); */
  --cap-image : url(https://garevna.github.io/js-samples/icons/cap.png);
  /* --link-image: url(https://garevna.github.io/js-samples/icons/link.png); */

  --back-color: #ffffff90;
  --menu-back-color: #fa0;
  --submenu-back-color: #09b;
  --back-transparent: #ffffff00;
  --menu-color: #09b;
  --submenu-color: #09b;
  --menu-color-hover: #000;
  --submenu-color-hover: #000;
  --selected-lesson-color: #fff;
  --header-back-color: linear-gradient(to right, #00000000, #00000050 30%, #000000 40%, #000 );
  --header-back-image: url(https://cdn.glitch.com/a4e0a9fd-ea7b-47cf-b52a-48fd6359c559%2Fstars-5.gif);

  /*--icon:       url(../src/images/cat.gif);*/
  --icon:       url(https://cdn.glitch.com/a4e0a9fd-ea7b-47cf-b52a-48fd6359c559%2Fpersonage-to-right.gif);
  --search:     url(https://www.webfx.com/tools/emoji-cheat-sheet/graphics/emojis/mag.png);
  --link-image: url(https://garevna.github.io/js-samples/icons/link-ico.png);

  --button-gradient-0: linear-gradient(to right, #09b, #09b, #09b);
  --button-gradient-1: linear-gradient(to right top, #09b, #5bd 10% 30%, #09b);
  --button-gradient-2: linear-gradient(to right top, #09b, #5bd 30% 50%, #09b);
  --button-gradient-3: linear-gradient(to right top, #09b, #5bd 50% 70%, #09b);
  --button-gradient-4: linear-gradient(to right top, #09b, #5bd 70% 90%, #09b);
  --button-gradient-5: linear-gradient(to right top, #09b, #5bd 40% 50%, #09b);
  --main-menu-item-height: 20px;
  --main-font: 'Poppins', 'Montserrat', 'Roboto', Arial;
  --funy-font: 'Luckiest Guy', 'Montserrat', 'Roboto', Arial;
}

body {
  margin: 20px calc(50% - 450px);
  font-family: "Poppins", Arial;
  color: #555;
  background-color: white;
  border: solid 20px white;
  border-bottom: solid 70px white;
  overflow-x: hidden;
}

html {
    background: #555;
    scroll-behavior: smooth;
}

hr {
  margin: 32px 0;
  height: 1px;
  border-top: solid 1px #f50;
  border-bottom: solid 1.2px #09b;
  background: transparent;
}

/* ===============  main-menu-component  =============== */

main-menu-component {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: var(--header-back-image), var(--header-back-color);
    background-size: 30%, 100%;
    background-repeat: repeat-x, no-repeat;
    background-blend-mode: overlay;
    box-shadow: 2px 2px 4px #00000090;
    z-index: 55;
}

main-menu-component:before {
    content: "Client-side JS";
    font-family: "Luckiest Guy";
    color: #def;
    display: block;
    padding: 8px 16px;
    font-size: 30px;
    mix-blend-mode: difference;
    -moz-letter-spacing: 2;
    -webkit-letter-spacing: 2;
    letter-spacing: 2;
}

popup-win img {
  border: 0;
}
popup-win h3 {
  color: #dde;
}

@media screen and (min-width: 1300px) {
  main-menu-component:before {
    padding-left: 16px;
  }
}

@media screen and (max-width: 1280px) {
  main-menu-component:before {
    padding-left: 20vw;
  }
}
@media screen and (max-width: 900px) {
  body {
    margin: 0;
  }
  glitch-logo { display: none; }
  popup-win { display: none; }

  main-menu-component:before {
    padding-left: 80px;
  }
}

@media screen and (max-width: 480px), screen and (max-height: 480px) {
    main-menu-component {
      background: transparent;
      box-shadow: none;
    }
    main-menu-component:before {
      display: none;
    }
}


/* ===== glitch logo ===== */

glitch-logo {
    position: absolute;
    top: 70px;
    left: calc(100% - 150px);
}


menu-component {
    position: fixed;
    top: 8px;
    z-index: 500;
    cursor:pointer;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
.close-button:before {
  content: "";
  background-size: contain;
  background-image: url(https://www.webfx.com/tools/emoji-cheat-sheet/graphics/emojis/no_entry_sign.png);
  width:30px;
  height:30px;
}
.close-button:hover:before {
  background-blend-mode: difference;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #079;
  box-shadow: inset 0 0 1px #00000070;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: #f50;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fa0;
}
