body {
  margin: 20px calc(50% - 450px);
  padding: 20px 20px 50px 20px;
  font-family: Arial;
  color: #555;
  background-color: white;
  background-image: url(https://github.com/garevna/js-course/raw/master/images/a-level-ico.png?raw=true);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100px;
  border: solid 10px white;
}

  html {
    background: #999;
  }

/* * {
  user-select: none;
} */

a {
    text-decoration: none;
    color: #777;
}
.main {
    padding: 20px;
    box-sizing: border-box;
    max-width:900px;
    width: 100%;
    margin-bottom:20px;
}

/* ================= media rules =================== */
@media screen and (max-width: 900px) {
  body {
    margin: 0;
  }
}
